<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="SidebarFragment">
	<div class="main-sidebar sidebar-style-2">
	  <aside id="sidebar-wrapper">
	    <div class="sidebar-brand">
	      <a href="/">Stisla</a>
	    </div>
	    <div class="sidebar-brand sidebar-brand-sm">
	      <a href="/">St</a>
	    </div>
	    <ul class="sidebar-menu">
	        <li class="menu-header">Dashboard</li>
	        <li id="A" class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
	          <ul class="dropdown-menu">
	            <li id="A01"><a class="nav-link" href='javascript:locationHref("/view/home", "A,01")'>General Dashboard</a></li>
	            <li id="A02"><a class="nav-link" href='javascript:locationHref("/view/home", "A,02")'>Ecommerce Dashboard</a></li>
	          </ul>
	        </li>
	        <li class="menu-header">Starter</li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Layout</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/layout-default", "B,01")'>Default Layout</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/layout-transparent", "B,02")'>Transparent Sidebar</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/layout-top-navigation", "B,03")'>Top Navigation</a></li>
	          </ul>
	        </li>
	        <li><a class="nav-link" href="blank"><i class="far fa-square"></i> <span>Blank Page</span></a></li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Bootstrap</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-alert", "C,01")'>Alert</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-badge", "C,02")'>Badge</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-breadcrumb", "C,03")'>Breadcrumb</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-buttons", "C,04")'>Buttons</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-card", "C,05")'>Card</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-carousel", "C,06")'>Carousel</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-collapse", "C,07")'>Collapse</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-dropdown", "C,08")'>Dropdown</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-form", "C,09")'>Form</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-list-group", "C,10")'>List Group</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-media-object", "C,11")'>Media Object</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-modal", "C,12")'>Modal</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-nav", "C,13")'>Nav</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-navbar", "C,14")'>Navbar</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-pagination", "C,15")'>Pagination</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-popover", "C,16")'>Popover</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-progress", "C,17")'>Progress</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-table", "C,18")'>Table</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-tooltip", "C,19")'>Tooltip</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/bootstrap-typography", "C,20")'>Typography</a></li>
	          </ul>
	        </li>
	        <li class="menu-header">Stisla</li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-article", "D,01")'>Article</a></li>
	            <li><a class="nav-link beep beep-sidebar" href='javascript:locationHref("/view/components-avatar", "D,02")'>Avatar</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-chat-box", "D,03")'>Chat Box</a></li>
	            <li><a class="nav-link beep beep-sidebar" href='javascript:locationHref("/view/components-empty-state", "D,04")'>Empty State</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-gallery", "D,05")'>Gallery</a></li>
	            <li><a class="nav-link beep beep-sidebar" href='javascript:locationHref("/view/components-hero", "D,06")'>Hero</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-multiple-upload", "D,07")'>Multiple Upload</a></li>
	            <li><a class="nav-link beep beep-sidebar" href='javascript:locationHref("/view/components-pricing", "D,08")'>Pricing</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-statistic", "D,09")'>Statistic</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-tab", "D,10")'>Tab</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-table", "D,11")'>Table</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/components-user", "D,12")'>User</a></li>
	            <li><a class="nav-link beep beep-sidebar" href='javascript:locationHref("/view/components-wizard", "D,13")'>Wizard</a></li>
	          </ul>
	        </li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>Forms</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/forms-advanced-form", "E,01")'>Advanced Form</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/forms-editor", "E,02")'>Editor</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/forms-validation", "E,03")'>Validation</a></li>
	          </ul>
	        </li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Google Maps</span></a>
	          <ul class="dropdown-menu">
	            <li><a href='javascript:locationHref("/view/gmaps-advanced-route", "F,01")'>Advanced Route</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-draggable-marker", "F,02")'>Draggable Marker</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-geocoding", "F,03")'>Geocoding</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-geolocation", "F,04")'>Geolocation</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-marker", "F,05")'>Marker</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-multiple-marker", "F,06")'>Multiple Marker</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-route", "F,07")'>Route</a></li>
	            <li><a href='javascript:locationHref("/view/gmaps-simple", "F,08")'>Simple</a></li>
	          </ul>
	        </li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Modules</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-calendar", "G,01")'>Calendar</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-chartjs", "G,02")'>ChartJS</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-datatables", "G,03")'>DataTables</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-flag", "G,04")'>Flag</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-font-awesome", "G,05")'>Font Awesome</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-ion-icons", "G,06")'>Ion Icons</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-owl-carousel", "G,07")'>Owl Carousel</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-sparkline", "G,08")'>Sparkline</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-sweet-alert", "G,09")'>Sweet Alert</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-toastr", "G,10")'>Toastr</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-vector-map", "G,11")'>Vector Map</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/modules-weather-icon", "G,12")'>Weather Icon</a></li>
	          </ul>
	        </li>
	        <li class="menu-header">Pages</li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Auth</span></a>
	          <ul class="dropdown-menu">
	            <li><a href='javascript:locationHref("/view/auth-forgot-password", "H,01")'>Forgot Password</a></li>
	            <li><a href='javascript:locationHref("/view/auth-login", "H,02")'>Login</a></li>
	            <li><a class="beep beep-sidebar" href='javascript:locationHref("/view/auth-login-2", "H,03")'>Login 2</a></li>
	            <li><a href='javascript:locationHref("/view/auth-register", "H,04")'>Register</a></li>
	            <li><a href='javascript:locationHref("/view/auth-reset-password", "H,05")'>Reset Password</a></li>
	          </ul>
	        </li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-exclamation"></i> <span>Errors</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/errors-503", "I,01")'>503</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/errors-403", "I,02")'>403</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/errors-404", "I,03")'>404</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/errors-500", "I,04")'>500</a></li>
	          </ul>
	        </li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Features</span></a>
	          <ul class="dropdown-menu">
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-activities", "J,01")'>Activities</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-post-create", "J,02")'>Post Create</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-posts", "J,03")'>Posts</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-profile", "J,04")'>Profile</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-settings", "J,05")'>Settings</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-setting-detail", "J,06")'>Setting Detail</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/features-tickets", "J,07")'>Tickets</a></li>
	          </ul>
	        </li>
	        <li class="nav-item dropdown">
	          <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Utilities</span></a>
	          <ul class="dropdown-menu">
	            <li><a href='javascript:locationHref("/view/utilities-contact", "K,01")'>Contact</a></li>
	            <li><a class="nav-link" href='javascript:locationHref("/view/utilities-invoice", "K,02")'>Invoice</a></li>
	            <li><a href='javascript:locationHref("/view/utilities-subscribe", "K,03")'>Subscribe</a></li>
	          </ul>
	        </li>
	        <li><a class="nav-link" href='javascript:locationHref("/view/credits", "L,01")'><i class="fas fa-pencil-ruler"></i> <span>Credits</span></a></li>
	      </ul>
	  </aside>
	</div>
	
	<script type="text/javascript">
	let menuActive = sessionStorage.getItem("active");
	if(menuActive != null && menuActive != undefined){
		let menuInfo = menuActive.split(",");
		$("#" + menuInfo[0]).addClass("active");
		$("#" + menuInfo[0] + menuInfo[1]).addClass("active");
	}
	sessionStorage.removeItem("active");
	function locationHref(url, active){
		sessionStorage.setItem("active", active);
		location.replace(url);
	}
	</script>
	
</html>