<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default/layout}" layout:fragment="Content">

<script type="text/javascript">

let colName = ['jqFlag','매출', '이월 매출', '체크박스', 'EDI & AN', 'INVOICE', 'PROFIT DATE', 'D/O RELEASE DATE', 'CNEE', 'CNEE EMAIL', '국내매출', '해외매출', 'Partner', 'Tank no.', 'POL', 'POD', 'TERMINAL CODE', 'Carrier', 'MBL NO.', 'HBL NO.', 'ETD', 'ETA', 'ATA', '비고'];
$(document).ready(function () {
	$("#list").jqGrid({
	   	datatype: "json",
	   	colNames: colName,
	   	colModel: [
	   		{ name: 'jqFlag', width: 70, 	align:'center'},
	       	{ name: 'a', width: 70, 	align:'center', editable: true},
	       	{ name: 'b', width: 100, 	align:'center', editable: true},
	       	{ name: 'c', width: 80, 	align:'center', edittype:'checkbox', formatter: 'checkbox',  editoptions:{value:'1:0'}, editable: false},
	       	{ name: 'd', width: 100, 	align:'center'},
	    	{ name: 'e', width: 80, 	align:'center'},
	    	{ name: 'f', width: 120, 	align:'center'},
	    	{ name: 'g', width: 150, 	align:'center'},
	    	{ name: 'h', width: 120, 	align:'center'},
	    	{ name: 'i', width: 150, 	align:'center'},
	    	{ name: 'j', width: 100, 	align:'center', editable: true},
	    	{ name: 'k', width: 100, 	align:'center', editable: true},
	    	{ name: 'l', width: 100, 	align:'center', editable: true},
	    	{ name: 'm', width: 120, 	align:'center'},
	    	{ name: 'n', width: 100, 	align:'center'},
	    	{ name: 'o', width: 100, 	align:'center'},
	    	{ name: 'p', width: 140, 	align:'center'},
	    	{ name: 'q', width: 100, 	align:'center'},
	    	{ name: 'r', width: 140, 	align:'center'},
	    	{ name: 's', width: 140, 	align:'center'},
	    	{ name: 't', width: 100, 	align:'center'},
	    	{ name: 'u', width: 100, 	align:'center'},
	    	{ name: 'v', width: 100, 	align:'center'},
	       	{ name: 'w', width: 250, 	align:'center'}
	   	],
		height: 290, 
		width: '100%',
	  //cellEdit : true,
	  dblEdit : true,
	  //cellsubmit : 'clientArray',
	  	multiselect: true,
	  	
// 	 	onCellSelect : function(rowid, iCol, cellcontent, e) {

// 	 	},
		ondblClickRow : function(rowid, iRow, iCol,	e) {

		}
	});

});

const add = async () => {
	var rowId = $("#list").getGridParam("reccount"); 
	$("#list").jqGrid("addRowData", rowId+1, {}, 'last'); 

};
		
		
const search = async () => {
	$("#list").clearGridData();
	let response = await requestApi('GET', '/open/rowspan');
	$("#list").searchData(response.data, {});

// 	$("#list").clearGridData();
// 	let response = await requestApi('GET', '/open/rowspan');
// 	for ( var i = 0 ; i <= response.data.length ; i++ ) {
// 		$("#list").addRowData(i+1,response.data[i]);
// 	}
// 	$("#list").jqGrid('setFrozenColumns'); ///셀고정

};


const bbbbb = async () => {
	
	console.log(ComRowData("#list", 1))
	
};

</script>


<div class="main-content">
	<section class="section">
		<div class="section-header">
			<h1>Blank Page</h1>
		</div>

		<div class="section-body">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-12">
					<div class="card">
						<div class="card-header">
							<h4>Input Text</h4>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive" style="overflow : hidden">
								<table id="list"></table>
							</div>
							<button type="button" id="button-addon2" onclick="add()">추가</button>
							<button type="button" id="button-addon2" onclick="search()">조회</button>
							<button type="button" id="button-addon2" onclick="bbbbb()">변경데이터 확인</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script src="/js/comminGrid.js"></script>
</html>
