<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default/layout}" layout:fragment="Content">

<script type="text/javascript">

let colName = ['jqFlag', '매출', '이월 매출', '체크박스', 'EDI & AN', 'INVOICE', 'PROFIT DATE', 'D/O RELEASE DATE', 'CNEE', 'CNEE EMAIL', '국내매출', '해외매출', 'Partner', 'Tank no.', 'POL', 'POD', 'TERMINAL CODE', 'Carrier', 'MBL NO.', 'HBL NO.', 'ETD', 'ETA', 'ATA', '비고'];
// let colName = ['CNEE', '매출', '이월 매출', '체크박스', 'EDI & AN', 'INVOICE', 'PROFIT DATE', 'D/O RELEASE DATE', 'CNEE EMAIL', '국내매출', '해외매출', 'Partner', 'Tank no.', 'POL', 'POD', 'TERMINAL CODE', 'Carrier', 'MBL NO.', 'HBL NO.', 'ETD', 'ETA', 'ATA', '비고'];
$(document).ready(function () {
// 	, cellattr: arrtSetting
$("#list").jqGrid({
   	datatype: "json",
   	colNames: colName,
   	colModel: [
   		{ name: 'jqFlag', width: 70, 	align:'center'},
       	{ name: 'a', width: 70, 	align:'center', editable: true, rowspan: true, frozen:true},
       	{ name: 'b', width: 100, 	align:'center', editable: true, rowspan: true, frozen: true},
       	{ name: 'c', width: 80, 	align:'center', formatter: 'checkbox',  editoptions:{value:'1:0'}, frozen: true },
       	{ name: 'd', width: 100, 	align:'center', frozen: true},
    	{ name: 'e', width: 80, 	align:'center', frozen: true},
    	{ name: 'f', width: 120, 	align:'center', frozen: true},
    	{ name: 'g', width: 150, 	align:'center'},
    	{ name: 'h', width: 120, 	align:'center', editable: true, rowspan: true},
    	{ name: 'i', width: 150, 	align:'center'},
    	{ name: 'j', width: 100, 	align:'center', editable: true},
    	{ name: 'k', width: 100, 	align:'center', editable: true},
    	{ name: 'l', width: 100, 	align:'center', editable: true},
    	{ name: 'm', width: 120, 	align:'center'},
    	{ name: 'n', width: 100, 	align:'center'},
    	{ name: 'o', width: 100, 	align:'center'},
    	{ name: 'p', width: 140, 	align:'center'},
    	{ name: 'q', width: 100, 	align:'center'},
    	{ name: 'r', width: 140, 	align:'center'},
    	{ name: 's', width: 140, 	align:'center'},
    	{ name: 't', width: 100, 	align:'center', rowspan: true},
    	{ name: 'u', width: 100, 	align:'center'},
    	{ name: 'v', width: 100, 	align:'center'},
       	{ name: 'w', width: 250, 	align:'center', rowspan: true}
   	],
	height: 290, 
	width: '100%',
	multiselect: true,
    cellEdit : true
//  	dblEdit : true,
//	emptyrecords:'데이터가 없습니다.'
});

});

const offcanvas = async () => {
	$("#list").clearGridData();
	let response = await requestApi('GET', '/open/rowspan');
	// 셀고정 옵션 
	$("#list").searchData(response.data, {frozen:true});
};

const localExcelDown = async () => {
	var fullData = $("#list").getRowData();
	await requestFileDownload('POST', '/open/reuqestbodyexceldown', fullData, '로컬엑셀다운로드.xlsx');
};

const serverExcelDown = async () => {
	 await requestFileDownload('GET', '/open/exceldown', null, '서버엘셀다운로드.xlsx');
};

</script>


<div class="main-content">
	<section class="section">
		<div class="section-header">
			<h1>Blank Page</h1>
		</div>

		<div class="section-body">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-12">
					<div class="card">
						<div class="card-header">
							<h4>Input Text</h4>
						</div>
						<div class="card-body p-0">
							<div class="table-responsive" style="overflow : hidden">
								<table id="list"></table>
							</div>
							<button type="button" id="button-addon2" onclick="offcanvas()">추가</button>
							<button type="button" id="button-addon2" onclick="localExcelDown()">로컬엑셀다운로드</button>
							<button type="button" id="button-addon2" onclick="serverExcelDown()">서버엑셀다운로드</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

</html>
